/* initialization CSS */
html,
body,
ul,
li,
img,
a,
p,
div,
form,
input {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 13px;
}

a,
a:hover {
    color: #666666;
    text-decoration: none;
}


ul {
    list-style: none;
}

input {
    outline: none;
    border: none;
    border: 1px solid #ccc;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.margin-l-10 {
    margin-left: 10px;
}

.margin-r-10 {
    margin-right: 10px;
}

.margin-t-10 {
    margin-top: 10px;
}

.border-l {
    border-left: 1px solid #ccc;
}

.border-r {
    border-right: 1px solid #ccc;
}

.border-b {
    border-bottom: 1px solid #ccc;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}


/* customized CSS */
.jd_layout {
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    /* height: 2000px; */
    margin: 0 auto;
    background-color: #eee;
    /* position: relative; */
}

.jd_search {
    width: 100%;
    max-width: 640px;
    /* min-width: 320px; */
    height: 40px;
    position: fixed;
    background-color:  rgba(233, 35, 34, 0); /* #e92322 */
    z-index: 10;
}

.logo {
    width: 56px;
    height: 30px;
    position: absolute;
    left: 10px;
    top: 5px;
    background: url(../images/jd-sprites.png);
    background-size: 200px 200px;
    background-position: 0px -108px;
}

.loginButton {
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 0px;
    top: 0px;
    color: white;
}

.searchForm {
    width: 100%;
    height: 100%;
    padding-left: 76px;
    padding-right: 50px;
    position: relative;
}

.searchForm input {
    width: 100%;
    height: 30px;
    margin: 5px 0;
    border-radius: 15px;
    padding-left: 30px;
    color: #666;
    font-size: 14px;
}

.searchForm::before {
    content: "";
    width: 27px;
    height: 23px;
    position: absolute;
    left: 81px;
    top: 10px;
    background: url("../images/jd-sprites.png");
    background-size: 200px 200px;
    background-position: -56px -108px;
}


/* top gallery_pictures */
.jd_gallery {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.gallery_pictures {
    width: 1000%;
    /* option One */
    /* transform: translateX(-10%); */
    position: relative;
    left: -100%;
    transition: left 0.5s;
}

.gallery_pictures li {
    width: 10%;
    float: left;
}

.gallery_pictures li img {
    width: 100%;
    display: block;
}

.picture_indexes {
    width: 104px;
    height: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}

.picture_indexes li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #fff;
    float: left;
    margin-left: 5px;
}

.picture_indexes li:first-child {
    margin-left: 0px;
}

.picture_indexes li.chosen {
    background-color: #fff;
}


/* service categories */
.jd_categories {
    width: 100%;
    background-color: #fff;
    padding: 10px 0;

}

.jd_categories ul li {
    width: 25%;
    float: left;
    text-align: center;
    margin-top: 5px;
}

.jd_categories ul li span {

    line-height: 25px;
    text-align: center;
}

.jd_categories ul li img {
    /* display: block; */
    width: 50px;
}


/* products section start */
.jd_promotions,
.seckillingProTitle,
.seckillingProContent,
.supermarketProTitle {
    width: 100%;
}

.seckillingProTitle {
    height: 30px;
    line-height: 30px;
    color: #666;
}



.sk_icon {
    width: 16px;
    height: 20px;
    background-image: url(../uploads/seckill-icon.png);
    background-size: 16px 20px;
    margin-left: 10px;
    margin-top:3px;
}

.sk_text {
    color: #e92322;
}



.sk_countdown .bbg {
    width: 13px;
    height: 18px;
    line-height: 18px;
    display: inline-block;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.seckillingProContent {
    padding: 20px;
    
}

.seckillingProContent ul {
    width: 100%;
}

.seckillingProContent ul li {
    width: 33.33%;
    float: left;
    text-align: center;
}



.seckillingProContent img {
    margin-left: 10px;
    width: 66.6%;
    display: inline-block;
}

.productSeckilling,
.supermarket {
    width: 100%;
    margin-top: 10px;
    background-color: #fff;
    position: relative;
    box-shadow: 1px 1px 1px #ccc;
}

.supermarketProTitle {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
    padding-left: 30px;
    color: #666;
    /* position: relative; */
}


.supermarketProTitle h3 {
    /* display: block; */
    position: relative;
}

.supermarketProTitle h3::before {
    content: "";
    width: 3px;
    height: 12px;
    background-color: #e92322;
    position: absolute;
    left: -6px;
    top: 8px;
}

.supermarketProContent {
    width: 100%;
    overflow: hidden;
}

.supermarketProContent a {
    width: 50%;
    display: block;
}

.supermarketProContent img {
    width: 100%;
    display: block; 
}
